*,
*:after,
*:before {
  box-sizing: border-box;
}

.App {
  --color-primary: #0400ff;
  --color-primary-dark: #030086;
  --color-light-grey: lightgrey;
  --color-white: #fff;
  --font-family: 'Lucida Console', Monaco, monospace;

  font-family: var(--font-family);
  font-size: 16px;
  margin: 50px auto;
  text-align: left;
  max-width: 500px;
}

.BaseUrlInput {
  display: flex;
  align-items: center;
}

.BaseUrlInput label {
  margin-right: 0.5rem;
}

.BaseUrlInput input {
  flex-grow: 1;
}

.ParamsTable {
  width: 100%;
  display: grid;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.ParamsTable .row {
  display: grid;
  grid-template-columns: 1fr 1fr 3rem;
  grid-gap: 1rem;
}

.ParamsTable .row > * {
  min-width: 0;
}

.ParamsTable button {
  width: 3rem;
}

.ParamsTable button svg {
  stroke: var(--color-primary);
  width: 100%;
}

.ParamsTable button:disabled svg {
  stroke: var(--color-light-grey);
}

.Url {
  margin-top: 2rem;
}

input {
  padding: 10px;
  height: 3rem;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

input:focus {
  outline: 2px solid var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  outline-offset: 0px;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0.5rem 0.75rem;
  border: 2px solid var(--color-primary);
  height: 3rem;
  font-family: inherit;
  display: flex;
  place-content: center center;
  font-size: 0.75rem;
  font-weight: bold;
  width: 100%;
}

button:focus {
  outline: 2px solid var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  outline-offset: 0px;
}

button:disabled {
  border-color: var(--color-light-grey);
}
